@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'InterExtraBold';
  src: url('./assets/fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

:root {
  --color-blue: #064087;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-orange: #EA5F0A;
  --color-dark-gray: #3C3C3C;
  --color-light-gray: #EDEDED;
  --border-radius: 80px;
  --font-family-base: 'Inter', sans-serif;

}
* {
  box-sizing: border-box;
}

p, h1, h2, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 24px;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  font-weight: 400;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
